<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
      <h6>PapersPlease</h6>
      <p>Idea nata in collaborazione con l'Universita della Calabria. Lavoro realizzato da Giorgio F.sco Guagliardi con la supervisione del docente Reale Kristian.</p>

    </div>
    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
      <h6>Contattaci</h6>
      <p><fa-icon [icon]="iconHouse"></fa-icon> Zumpano(CS), Italia, 87040</p>
      <p><fa-icon [icon]="iconUser"></fa-icon> gegio.guagliardi@gmail.com</p>
      <p><fa-icon [icon]="iconPhone"></fa-icon> +39 333 4228300</p>

    </div>
    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
      <h6>Seguici</h6>
      <a class="btn btn-floatin m-3" role="button" id="buttonTwitter" href="#!" aria-label="Twitter">
        <fa-icon [icon]="iconTwitter"></fa-icon>
      </a>
      <a class="btn btn-floatin m-3" role="button" id="buttonFB" href="#!" aria-label="Facebook">
        <fa-icon [icon]="iconFB"></fa-icon>
      </a>
      <a class="btn btn-floatin m-3" role="button" id="buttonInsta" href="#!" aria-label="Instagram">
        <fa-icon [icon]="iconInsta"></fa-icon>
      </a>
    </div>
  </div>
</div>
