<div class="container-fluid" id="value">
  <div class="row">
    <div class="col-md-7 col-lg-7 col-xl-7 mx-auto mt-7" id="left">
      <img src="../../../assets/images/obbiettivi.jpg" alt="Obbiettivi" id="valuephoto">
    </div>
    <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mt-5" id="right">
      <h1 class="hover-1">Oppure diventa l'insegnante ideale</h1>
      <br>
      <h2>Puoi essere tu stesso a condividere le tue risorse sul sito, sotto il formato a te più congeniale, al fine di aiutare altri studenti
        come te. D'altronde, chi saprebbe mettersi nei panni
        di uno studente meglio di un altro studente?
      </h2>
    </div>
  </div>
</div>
