#container{
  padding-top: 90px;
  padding-bottom: 34px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.box-area{
  width: 930px;
  background-color: whitesmoke;
}

.hover-1 {
  background: linear-gradient(goldenrod 0 0) var(--p, 0) / var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
  cursor: default;
  --p: 100%;
  color: #2b2b2d;
}

#card-header{
  background-color: goldenrod;
  font-family: Stencil Std, fantasy;
}


#card-footer{
  background-color: #2b2b2b;
  color: goldenrod;
}

#header-card{
  background-color: #2b2b2d;
  color: goldenrod;
  font-family: Stencil Std, fantasy;
}

#footer-card{
  background-color: goldenrod;
  color: #2b2b2d;
}
