<div class="container-fluid" id="presentation">
  <div class="row">
    <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mt-5" id="left">
      <h1 class="hover-1">Diventa anche tu uno studente modello</h1>
      <br>
      <h2>Cosa aspetti? Unisciti anche tu alla grande famiglia di PapersPlease! Accedi a centinaia di contenuti sotto forma di appunti di testo, immagini e video,
         studiati appositamente per aiutarti nello studio e farti rendere al meglio delle tue possibilità.</h2>
    </div>
    <div class="col-md-7 col-lg-7 col-xl-7 mx-auto mt-7" id="right">
      <img src="../../../assets/images/presentazione.jpg" alt="Presentazione" id="presentationphoto">
    </div>
  </div>
</div>
