<div class="container-fluid" id="review">
  <div class="row">
    <h1 class="hover-1">Alcune delle nostre referenze</h1>
    <ngb-carousel id ="carosello"
      [interval]="4000">
      <ng-template ngbSlide id="slide1">
        <div class="carousel-wrapper">
          <h4>Il miglior sito di studio in tanti anni.</h4>
          <span>La Repubblica</span>
        </div>
      </ng-template>
      <ng-template ngbSlide id="slide2">
        <div class="carousel-wrapper">
          <h4>Un esempio per chiunque voglia innovare e migliorare il proprio metodo di studio.</h4>
            <span>Giuseppe Valditara, Ministro dell'Istruzione</span>
        </div>
      </ng-template>
      <ng-template ngbSlide id="slide3">
        <div class="carousel-wrapper">
          <h4>Semplice, innovativo ed efficace!</h4>
            <span>Kristian Reale, docente di Web Design presso l'Unical</span>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
