h1{
  font-family: Stencil Std, fantasy;
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(goldenrod 0 0) var(--p, 0) / var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
  cursor: default;
  --p: 100%;
  color: #2b2b2d;
}

p{
  padding-top: 30px;
  padding-bottom: 30px;
}

h4{
  font-family: Stencil Std, fantasy;
}

div img{
  max-width: 60%;
}

#card-header{
  background-color: goldenrod;
  font-family: Stencil Std, fantasy;
}


#card-footer{
  background-color: #2b2b2b;
  color: goldenrod;
}
